.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-fader {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader svg {
  height: 300px;
  display: block;
  margin: 0 auto;
}

.loader path {
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  color: #26a380;
}

.loader .path-7 {
  animation-delay: -1s;
}

.loader .path-6 {
  animation-delay: -0.875s;
}

.loader .path-5 {
  animation-delay: -0.75s;
}

.loader .path-4 {
  animation-delay: -0.625s;
}

.loader .path-3 {
  animation-delay: -0.5s;
}

.loader .path-2 {
  animation-delay: -0.375s;
}

.loader .path-1 {
  animation-delay: -0.25s;
}

.loader .path-0 {
  animation-delay: -0.125s;
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.1;
  }
}
